<!DOCTYPE html>
<html>
<head>
    <title>ROTC Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div class="overlay">

    <div class="auth-box">

        <h1>🪖 ROTC LOGIN</h1>

        <form method="POST">

            <input type="text" name="username" placeholder="Username" required>

            <input type="password" name="password" placeholder="Password" required>

            <button type="submit">LOGIN</button>

        </form>

    </div>

</div>

</body>
</html>